body {margin: 0;}

.app {font-family: "Arial";}
.height10 {height: 10px;}
.height20 {height: 20px;}
.width5 {display: inline-block; width: 5px;}
.width10 {display: inline-block; width: 10px;}
.popup_overlay {position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #000000; opacity: 0.5; z-index: 1; display: none;}
.popup_content {margin: 0; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1; display: none;}
.loading_overlay {position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #FFFFFF; opacity: 0.5; z-index: 1; display: none;}
.loading_content {margin: 0; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1; display: none;}
.paging_bar {text-align: center;}
.cropper_container {position: fixed; top: 56px; width: 100%; height: calc(100% - 114px);}
.cropper_box {position: absolute; top: 56px; width: 100%; height: calc(100% - 114px); background: rgb(206, 206, 206); z-index: 1; display: none;}
.cropper_footer {position: fixed; bottom: 0; width: 100%; padding: 10px; text-align: center; background: rgb(206, 206, 206); z-index: 1; display: none;}
.datatable_search {position: absolute; right: 0; padding: 10px;}

.sidemenu_component {background-color: #000000; color: #ffffff;}

.login_component {text-align: center;}
.login_image {max-width: 80%;}
.login_background {background-color: #b3b3b3; height: calc(100vh - 300px); padding: 50px 20px;}
.login_box {background-color: #ffffff; color: #333333; font-weight: bold; padding: 20px; display: inline-block; width: 80%; max-width: 350px;}
.login_textbox {color: #555555; border: 1px solid #cccccc; width: 80%; padding: 10px;}
.login_button {background-color: #0066ff; color: #ffffff; border: 1px solid #0000ff; border-radius: 5px; padding: 6px 12px; display: inline-block;}
.login_button:hover {background-color: #0000ff;}

.lds-ellipsis {display: inline-block; position: relative; width: 64px; height: 64px;}
.lds-ellipsis div {position: absolute; top: 27px; width: 11px; height: 11px; border-radius: 50%; background: #fff; animation-timing-function: cubic-bezier(0, 1, 1, 0);}
.lds-ellipsis div:nth-child(1) {left: 6px; animation: lds-ellipsis1 0.6s infinite;}
.lds-ellipsis div:nth-child(2) {left: 6px; animation: lds-ellipsis2 0.6s infinite;}
.lds-ellipsis div:nth-child(3) {left: 26px; animation: lds-ellipsis2 0.6s infinite;}
.lds-ellipsis div:nth-child(4) {left: 45px; animation: lds-ellipsis3 0.6s infinite;}
@keyframes lds-ellipsis1
{
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}
@keyframes lds-ellipsis3
{
    0% {transform: scale(1);}
    100% {transform: scale(0);}
}
@keyframes lds-ellipsis2
{
    0% {transform: translate(0, 0);}
    100% {transform: translate(19px, 0);}
}